.bash_history

# Ignore installed vim plugins
plugged/

# Weechat
sec.conf
logs/
weechat.log

# Vim
vim/.vim/plugged/

# Mutt
mail/.mutt/cache
mail/.mutt/mailboxes

# Passwords
*-pass.gpg

# ssh
ssh/.ssh/*
!ssh/.ssh/config

# gpg
gpg/.gnupg/*
!gpg/.gnupg/gpg-agent.conf

# zsh
.zhistory
.zcompdump*
.zcompcache/
