# General
alias gg="exit"
alias meow="nvim"
alias n="nvim"
alias t='[[ -z "$TMUX" ]] && tmux || tig'  # Tmux if not in tmux, else tig
alias vim="nvim"

# Ruby
alias be="bundle exec"

# Disk usage
alias d="du -h -d1 | sort -hr | head -n 10"  # Directories using most space

# Configure
alias configure_alacritty='$EDITOR $HOME/.config/alacritty/alacritty.yml'
alias configure_bspwm='$EDITOR $HOME/.config/bspwm/bspwmrc'
alias configure_dunst='$EDITOR $HOME/.config/dunst/dunstrc'
alias configure_neovim='$EDITOR $HOME/.config/nvim/init.vim'
alias configure_nvim='$EDITOR $HOME/.config/nvim/init.vim'
alias configure_profile='$EDITOR $HOME/.profile'
alias configure_rofi_theme='$EDITOR $HOME/.config/rofi/theme.rasi'
alias configure_sxhkd='$EDITOR $HOME/.config/sxhkd/sxhkdrc'
alias configure_zsh='$EDITOR $ZDOTDIR'
alias configute_tmux='$EDITOR $HOME/.tmux.conf'

# Git
alias gb="git branch"
alias gc="git commit -m"
alias gco="git checkout"
alias gd="git diff"
alias gl="git log --oneline --max-count=10 --graph"
alias gp="git pull"
alias gst="git status"
alias gu="git push"
alias clean="git clean -xdf"

# Clear the screen of your clutter
alias c="clear"
alias cls="clear;ls"

# Flatpak
alias fp-steam='flatpak run com.valvesoftware.Steam'
alias fp-ps2='flatpak run net.pcsx2.PCSX2'
alias fp-discord='flatpak run com.discordapp.Discord'
alias fp-tor='flatpak run com.github.micahflee.torbrowser-launcher'

# Functions

find_and_replace () {
	find ./ -type f -exec sed -i "s/${1}/${2}/g" {} \;
}

start_ssh_agent () {
	local SSH_ENV="$HOME/.ssh/environment"
	# Source SSH settings, if applicable
	if [ -f "${SSH_ENV}" ]; then
		echo "Found environemnt"
		. "${SSH_ENV}" > /dev/null
		#ps ${SSH_AGENT_PID} doesn't work under cywgin
		ps -ef | grep ${SSH_AGENT_PID} | grep ssh-agent$ > /dev/null || {
			echo "Initialising new SSH agent..."
			/usr/bin/ssh-agent | sed 's/^echo/#echo/' >! "${SSH_ENV}"
			echo "Succeeded"
			chmod 600 "${SSH_ENV}"
			. "${SSH_ENV}" > /dev/null
			/usr/bin/ssh-add;
		}
	else
		echo "Initialising new SSH agent..."
		/usr/bin/ssh-agent | sed 's/^echo/#echo/' >! "${SSH_ENV}"
		echo "Succeeded"
		chmod 600 "${SSH_ENV}"
		. "${SSH_ENV}" > /dev/null
		/usr/bin/ssh-add;
	fi
}

jira () {
	bash -c 'cd /home/cgm/devel/ocado/autojira && poetry run autojira'
}

timesheet () {
	bash -c 'cd /home/cgm/devel/ocado/autotimesheet && node index.js'
}
